<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}

{% block content %}
    <div class="content col-lg-9">
        <div class="row m-b-20">
            <div class="col-lg-6 p-t-10 m-b-20">
                <h3 class="m-b-20">A Monochromatic Spring ’15</h3>
                <p>Lorem ipsum dolor sit amet. Accusamus, sit, exercitationem, consequuntur, assumenda iusto eos commodi alias.</p>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Sort by</h6>
                    <p>Showing 1&ndash;12 of 25 results</p>
                    <form id="sort" method="get">
                        {{ sort_form.sort_by }}
                        <button type="submit">Sort</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Sort by Price</h6>
                    <p>From 0 - 190$</p>
                    <form id="filter_price" method="get">
                        {{ price_form.price_range }}
                        <button type="submit">Filter by Price</button>
                    </form>
                </div>
            </div>
        </div>
        <!--Product list-->
        <div class="shop">
            <div class="grid-layout grid-3-columns" data-item="grid-item">
                {% for product in products %}
                <div class="grid-item">
                    <div class="product">
                        <div class="product-image">
                            <a href="#"><img alt="Shop product image!" src="{{ STATIC_URL }}images/shop/products/1.jpg">
                            </a>
                            <a href="#"><img alt="Shop product image!" src="{{ STATIC_URL }}images/shop/products/10.jpg">
                            </a>
                            <span class="product-new">NEW</span>
                            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
                            <div class="product-overlay">
                                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
                            </div>
                        </div>
                        <div class="product-description">
                            <div class="product-category">Women</div>
                            <div class="product-title">
                                <h3><a href="/products/{{product.id}}">{{ product.name }}</a></h3>
                            </div>
                            <div class="product-price"><ins>{{ product.price }}</ins>
                            </div>
                            <div class="product-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="product-reviews"><a href="#">6 customer reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <!-- Pagination -->
            <ul class="pagination">
            {# Добавляем пагинацию на страницу #}
            {# Информация о предыдущих страницах #}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number != 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{% if page_obj.previous_page_number %}?page={{page_obj.previous_page_number}}{% else %}#{% endif %}">1</a></li>
                {% if page_obj.previous_page_number != 1 %}
                    ...
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
            {% endif %}
                {# Информация о текущей странице #}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {# Информация о следующих страницах #}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% if paginator.num_pages != page_obj.next_page_number %}
                    ...
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
                {% if paginator.num_pages != page_obj.next_page_number %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-right"></i></a></li>
                {% endif %}
            {% endif %}
            </ul>
            <!-- end: Pagination -->
        </div>
        <!--End: Product list-->
    </div>
             <!-- Здесь будет размещаться контент каждого шаблона, наследующего base.html -->
{% endblock %}

